* {
  font-family: lexend;
}

p {
  font-weight: 300;
}

body {
  width: 100%;
  height: 100vh;
  background: conic-gradient(
    from 180deg,
    #003459 0%,
    #007ea7 25%,
    #00a8e8 45%,
    #66c6f3 55%,
    #b3e0f4 65%,
    #e1f5fe 75%,
    #f4f6f7 85%,
    #ffffff 100%
  );
  background-position: 70% 61%;
  background-size: 200% 200%;
  overflow: hidden;
}

.title_container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin-right: 15px;
}

.lower_page_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu_container {
  grid-column: 1;
  width: 400px;
  height: 60vh;
  /* border: 1px solid red; */
}

.text_field {
  grid-column: 2 / 3;
  width: 55vw;
  height: 60vh;
  /* border: 1px solid red; */
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 6em;
  margin-top: 0;
  margin-left: 20px;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

#profile_picture {
  width: 15%;
  height: 100%;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 27em;
  max-width: 27vw;
}

li {
  padding: 20px 20px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.2rem;
}

li:hover {
  background-color: rgba(34, 0, 255, 0.1);
  color: rgb(255, 255, 255);
  transform: translateX(20px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: rgba(34, 0, 255, 0.1);
  color: rgb(255, 255, 255);
  transform: translateX(20px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#linkedin {
  width: 5%;
  height: 100%;
}

.projekt_box {
  display: flex;
  width: fit-content;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projekt_box a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.projekt_box img {
  width: 8%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.projekt_box p {
  font-size: 2rem;
  font-weight: 300;
}

a .projekt_box {
  display: flex;
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

.CV {
  cursor: n-resize;
  margin-right: 50px;
}

.CV p {
  margin: 0;
}

#li_1 {
  animation-name: slide1;
  animation-duration: 1.8s;
}

@keyframes slide1 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_2 {
  animation-name: slide2;
  animation-duration: 1.6s;
}

@keyframes slide2 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_3 {
  animation-name: slide3;
  animation-duration: 1.4s;
}

@keyframes slide3 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_4 {
  animation-name: slide4;
  animation-duration: 1.2s;
}

@keyframes slide4 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_5 {
  animation-name: slide5;
  animation-duration: 1s;
}

@keyframes slide5 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

.Kvalifikationer img {
  width: 5rem;
  height: auto;
  margin: 2rem;
  margin-left: 0;
}

.Kvalifikationer p {
  line-height: 2rem;
}

#figma {
  width: 3.2rem;
}

.Om_mig p {
  line-height: 2rem;
}

@media (max-width: 768px) {
  body {
    background: rgb(175, 228, 255);
    background-size: cover;
    text-align: center;
    padding: 0 15px;
    overflow-x: hidden;
    overflow-y: visible;
    height: auto;
    width: fit-content;
    margin-bottom: 200px;
    border: 1px solid red;
  }

  .title_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .title_container h1 {
    font-size: 3em;
    margin-left: 0;
    /* border: 1px solid red; */
  }

  #profile_picture {
    width: 40%;
    height: auto;
    margin: 10px 0;
  }

  .lower_page_container {
    display: flex;
    flex-direction: column;
  }

  .menu_container {
    display: none;
  }

  .text_field {
    width: 100%;
    height: auto;
    align-items: left;
    justify-content: left;
    text-align: left;
    border: 1px solid red;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    display: none;
  }

  p {
    font-size: 0.9rem;
  }

  .Kvalifikationer img {
    width: 3rem;
    margin: 1rem;
  }

  .Kontakt img {
    width: 8%;
  }

  #linkedin {
    scale: 2;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
