* {
  font-family: lexend;
}

p {
  font-weight: 300;
}

body {
  width: 100%;
  height: 100vh;
  background: conic-gradient(
    from 180deg,
    #003459 0%,
    /* Dark blue */ #007ea7 25%,
    /* Medium blue */ #00a8e8 45%,
    /* Bright cyan */ #66c6f3 55%,
    /* Soft light cyan */ #b3e0f4 65%,
    /* Very light blue */ #e1f5fe 75%,
    /* Pale blue */ #f4f6f7 85%,
    /* Light gray */ #ffffff 100% /* White */
  );
  background-position: 70% 61%;
  background-size: 200% 200%;
  overflow: hidden;
}

.title_container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin-right: 15px;
}

.lower_page_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu_container {
  grid-column: 1;
  width: 400px;
  height: 60vh;
  /* border: 1px solid red; */
  margin-top: 10px;
}

.text_field {
  grid-column: 2 / 3;
  width: 55vw;
  height: 60vh;
  /* border: 1px solid red; */
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 6em;
  margin-top: 0;
  margin-left: 20px;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

#profile_picture {
  width: 15%;
  height: 100%;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 20px 20px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(30px); */
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.2rem;
}

li:hover {
  background-color: rgba(34, 0, 255, 0.1);
  color: rgb(255, 255, 255);
  transform: translateX(20px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: rgba(34, 0, 255, 0.1);
  color: rgb(255, 255, 255);
  transform: translateX(20px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#linkedin {
  width: 5%;
  height: 100%;
}

.CV {
  cursor: n-resize;
  margin-right: 50px;
}

.CV p {
  margin: 0;
}

#li_1 {
  animation-name: slide1;
  animation-duration: 1.8s;
}

@keyframes slide1 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_2 {
  animation-name: slide2;
  animation-duration: 1.6s;
}

@keyframes slide2 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_3 {
  animation-name: slide3;
  animation-duration: 1.4s;
}

@keyframes slide3 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_4 {
  animation-name: slide4;
  animation-duration: 1.2s;
}

@keyframes slide4 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

#li_5 {
  animation-name: slide5;
  animation-duration: 1s;
}

@keyframes slide5 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

.Kvalifikationer img {
  width: 5rem;
  height: auto;
  margin: 2rem;
  margin-left: 0;
}

.Kvalifikationer p {
  line-height: 2rem;
}

#figma {
  width: 3.2rem;
}

.Om_mig p {
  line-height: 2rem;
}
