body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.Gamespace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.Titlespace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 5em;
  color: white;
}

button {
  color: white;
  position: relative;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: 5px solid white;
  border-radius: 45px;
  overflow: hidden;
  font-weight: 1000;
}

button:hover {
  cursor: pointer;
  scale: 1.1;
}

#startSpillet {
  background: linear-gradient(
    45deg,
    rgba(0, 237, 255, 1) 0%,
    rgba(2, 31, 110, 1) 50%,
    rgba(0, 237, 255, 1) 100%
  );
}

#forHoejt {
  background: linear-gradient(
    45deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(121, 9, 9, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
}

#forLavt {
  background: linear-gradient(
    45deg,
    rgba(255, 72, 72, 1) 0%,
    rgba(121, 9, 9, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
}

#perfekt {
  background: linear-gradient(
    45deg,
    rgba(134, 255, 32, 1) 0%,
    rgba(9, 121, 37, 1) 50%,
    rgba(134, 255, 32, 1) 100%
  );
}

.shine:after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.shine:hover::after,
button:focus::after {
  animation: shine 1s forwards;
}
@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
